<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iDelivery</title>
        <link rel="stylesheet" href="css/style.css">
        <%- include('./bootstrap-css.ejs') %>
    </head>
    <body>
        <div class="container-fluid" style="padding: 0; margin: 0;">
            <div>
                <%- include('./header') %>
            </div>

            <div class="container">
                <h3>About Us </h3>
            </div>



        <div style="margin-top: 100px;">
            <%- include('./footer.ejs') %>
        </div>
    </body>
    <%- include('./bootstrap-js.ejs') %>
</html>