<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iDelivery</title>
        <link rel="stylesheet" href="css/style.css">
        <%- include('./bootstrap-css.ejs') %>
    </head>
    <body>
        <div class="container-fluid" style="padding: 0; margin: 0;">
            <div>
                <%- include('./header') %>
            </div>

            <div class="app-banner col-lg-12 col-ms">
                <div  class="banner-content">
                </div>
                <div  class="banner-text">
                    <h2 class="text-bold">Welcome to iDelivery</h2>
                </div>
            </div>

          

            <div class="offer-container container-fluid row" style="margin: 0; margin-top: 50px;">
                
                <div class="offer-card col-lg-3">
                    <div class="offer-text">
                        <h3>Iphone 12 Pro Max. Beyound Get it on us</h3>
                        <p>Experience the pinnacle of mobile technology with the iPhone 12 Pro Max, now available for delivery on our site.</p>
                    </div>

                    <div class="offer-img">
                        <img src="img/iphone12pro.jpg" alt="iphone12pro">
                    </div>

                </div>

                <div class="offer-card col-lg-3">
                    <div class="offer-text">
                        <h3>Iphone 13 Pro.</h3>
                        <p>
                            Elevate your mobile experience with the iPhone 13 Pro, ready for delivery on our website.    
                        </p>
                    </div>

                    <div class="offer-img">
                        <img src="img/iphone13-1.jpg" alt="iphone12pro">
                    </div>

                </div>

                <div class="offer-card col-lg-3">
                    <div class="offer-text">
                        <h3>Iphone 13 Pro Max. Beyound Get it on us</h3>
                        <p>
                            Unlock a world of possibilities with the iPhone 13 Pro, now conveniently available for delivery on our website.
                        </p>
                    </div>

                    <div class="offer-img">
                        <img src="img/iphone13-promax.jpg" alt="iphone13pro">
                    </div>

                </div>

                <div class="offer-card col-lg-3">
                    <div class="offer-text">
                        <h3>Iphone 13 Pro Max. Beyound Get it on us</h3>
                        <p>
                            Discover the future of mobile technology with the iPhone 14 Pro, available for delivery on our website.
                        </p>
                    </div>

                    <div class="offer-img">
                        <img src="img/iphone14.jpg" alt="iphone12pro">
                    </div>

                </div>

              

            </div>

            <div class="container-fluid">
                <div style="text-align: center; margin-top: 50px;">
                    <h3>We Are Hiring</h3>
                    
                </div>

                <div class="mt-4 p-2 bg-light text-dark rounded">
                        <p>
                            We are presently seeking a qualified individual to assume the role of a Personal Assistant. The primary responsibilities of this position include receiving and dispatching phones, overseeing deliveries, and facilitating phone shipments to our customers within your vicinity. We trust that you possess the requisite skills and commitment to excel in this role.

                        </p>

                        <p>
                            This opportunity aims to assist individuals facing financial challenges during this period in meeting their financial obligations, which may include bill payments, rent, initiating a business venture of their preference, or providing support to elderly, financially retired, or disabled individuals in their efforts to raise their dependents.
                        </p>

                       <p>
                        This opportunity extends a weekly salary of $175 to its dedicated team members. To determine the hourly wage, we need to take into account the standard full-time work hours in a week. In a typical week, the standard work hours per week amount to 40 hours. Therefore, the hourly wage for this role is approximately $4.38 per hour ($175 divided by 40 hours). This competitive compensation ensures that our team members are duly rewarded for their dedication and contributions to our mission.
                       </p>

                        <p>
                            Additionally, we believe in offering flexibility to our potential applicants. During the application and interview process, we provide you with the opportunity to discuss and determine your preferred working hours. We understand that every individual has unique commitments and schedules, and we aim to accommodate your needs to the best of our ability. Our goal is to create a work environment that not only supports our mission but also aligns with your personal and professional life, allowing for a harmonious and fulfilling work experience.
                        </p>

                        <p>
                            In conclusion, we invite all qualified and passionate individuals to explore this rewarding opportunity with us. Your dedication can make a meaningful impact on the lives of those in need, while enjoying a competitive salary and flexible working hours tailored to your schedule. To take the first step towards becoming a part of our mission, please use the form provided below to submit your application. We look forward to receiving your application and potentially welcoming you to our team, where your skills and compassion can truly make a difference. <strong> no fee is required</strong> 
                        </p>
                </div>
            </div>

            <div class="container-fluid">
                <div style="padding: 20px;">
                    <h1>Application Form </h1>
                </div>
                <form class="row g-3" name="applicant" action="/submit" method="post">
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Fullname (First Name , Middle Name, Last Name)</label>
                        <input type="text" class="form-control" id="fullname" name="fullname" required>
                      </div>
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Address</label>
                      <input type="text" name="adress1" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
                    </div>
                    <div class="col-12">
                      <label for="inputAddress2" class="form-label">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                      <label for="inputCity" class="form-label">City</label>
                      <input type="text" class="form-control" id="inputCity" name="city">
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">State</label>
                      <input type="text" class="form-control" id="inputCity" name="state" required>

                      <!-- <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select> -->
                    </div>
                    <div class="col-md-2">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input type="text" class="form-control" id="inputZip" name="zipcode" required>
                    </div>
                    
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Send Application</button>
                    </div>
                  </form>
            </div>

        </div>

        <div style="margin-top: 100px;">
            <%- include('./footer.ejs') %>
        </div>
    </body>
    <%- include('./bootstrap-js.ejs') %>
</html>