<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iDelivery</title>
        <link rel="stylesheet" href="css/style.css">
        <%- include('./bootstrap-css.ejs') %>
    </head>
    <body>
        <div class="container-fluid" style="padding: 0; margin: 0;">
            <div>
                <%- include('./header') %>
            </div>

            <div class="app-banner col-lg-12 col-ms">
                <div  class="banner-content">
                </div>
                <div  class="banner-text">
                    <h2 class="text-bold">Welcome to iDelivery</h2>
                </div>
            </div>

          

            <div class="offer-container container-fluid row" style="margin: 0; margin-top: 50px;">
                
                <div class="offer-card col-lg-3">
                    <div class="offer-text">
                        <h3>Iphone 12 Pro Max. Beyound Get it on us</h3>
                        <p>Experience the pinnacle of mobile technology with the iPhone 12 Pro Max, now available for delivery on our site.</p>
                    </div>

                    <div class="offer-img">
                        <img src="img/iphone12pro.jpg" alt="iphone12pro">
                    </div>

                </div>

                <div class="offer-card col-lg-3">
                    <div class="offer-text">
                        <h3>Iphone 13 Pro.</h3>
                        <p>
                            Elevate your mobile experience with the iPhone 13 Pro, ready for delivery on our website.    
                        </p>
                    </div>

                    <div class="offer-img">
                        <img src="img/iphone13-1.jpg" alt="iphone12pro">
                    </div>

                </div>

                <div class="offer-card col-lg-3">
                    <div class="offer-text">
                        <h3>Iphone 13 Pro Max. Beyound Get it on us</h3>
                        <p>
                            Unlock a world of possibilities with the iPhone 13 Pro, now conveniently available for delivery on our website.
                        </p>
                    </div>

                    <div class="offer-img">
                        <img src="img/iphone13-promax.jpg" alt="iphone13pro">
                    </div>

                </div>

                <div class="offer-card col-lg-3">
                    <div class="offer-text">
                        <h3>Iphone 13 Pro Max. Beyound Get it on us</h3>
                        <p>
                            Discover the future of mobile technology with the iPhone 14 Pro, available for delivery on our website.
                        </p>
                    </div>

                    <div class="offer-img">
                        <img src="img/iphone14.jpg" alt="iphone12pro">
                    </div>

                </div>

              

            </div>

        </div>
       
    </body>
    <%- include('./bootstrap-js.ejs') %>
</html>