<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submited</title>
    <%- include('./bootstrap-css.ejs') %>

</head>
<body>

    <div class="container">
        <a href="/"> Home </a>
        <div class="offer-container container-fluid row" style="margin: 0; margin-top: 50px;">
            <h3><%= title %></h3>
            <p><%= message %></p>
            
        </div>
    </div>
    
</body>
</html>