<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Application Form for <%= fullname %></title>
    <%- include('./bootstrap-css') %>
</head>
<body>
    <div class="container">
        <div class="mt-4 p-2 bg-light text-dark rounded">
            <h3>Welcome  <%= fullname %></h3>
            <p>Welcome back. We kindly request that you upload a form of identification in order to proceed with your application.</p>
        </div>

        <div class="upload-form">

            <form name="upload" method="post" enctype="multipart/form-data" action="/<%= email%>/upload">
                <div class="mb-3">
                    <label for="documentType" class="form-label">Document Type </label>
                    <select id="documentType" class="form-select">
                      <option> Driver License</option>
                      <option> National ID Card</option>
                    </select>
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Front</label>
                  <input type="file" class="form-control" name="front" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Back</label>
                  <input type="file" class="form-control" name="back">
                </div>
               
                <button type="submit" class="btn btn-primary">Upload ID</button>
              </form>
        </div>
    </div>
</body>
</html>