<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Upload Feedback </title>
</head>
<body>
    <div class="mt-4 p-2 rounded bg-light text-dark">
          <h3> Document Submission Acknowledgment and Review</h3>

          <p> Dear <%= fullname %></p> 
          <p>

            I hope this message finds you well. We wanted to inform you that we have received your uploaded identification document as part of your application process. Your document is currently under review by our dedicated team, and we appreciate your prompt submission.

            Our team is diligently examining all submitted documents to ensure accuracy and compliance with our application requirements. This process typically takes a short amount of time, and we will make every effort to complete it as swiftly as possible without compromising on thoroughness.

            Rest assured that we take your application seriously, and we understand the importance of timely communication. Once the review is complete, we will notify you promptly regarding the status of your application. If any additional information or clarification is needed, we will reach out to you accordingly.

            In the meantime, should you have any questions or require further assistance, please do not hesitate to contact our dedicated support team at [Support Email or Phone Number]. We are here to assist you throughout this process.

            We appreciate your patience and understanding as we work diligently to ensure the best possible outcome for your application. Thank you for considering us, and we look forward to updating you on your application status soon.

            Best regards,</p>
            <p>
                iDeliverySell
            </p>
    </div>
</body>
</html>